{% extends "layout.html" %}
{% block content %}

   	<p class="text-center" style="font-size: 40px;">About Us
  	</p>    
  	<div class="row">
  		<div class="col-lg-4">
  		</div>
  		<div class="col-lg-4">
  			<p class="text-center " style="font-size: 28px; opacity: 0.7;">Our mission is to democratize Machine Learning technologies.</p>    
  		</div>
  		<div class="col-lg-4">
  		</div>
  	</div>


  	<div class="row">
  	<div class="col-sm-3 col-md-3">
  	</div>	
  <div class="col-sm-3 col-md-3">
    <div class="card">
      <div class="card-body">
      	 <img src="static/images/naresh.png" class="card-img-top " alt="..." style="width: 230px; padding-left: 80px;">

        <h5 class="card-title text-center" style="padding-top: 20px;">Naresh Kumar</h5>
        <p class="card-text text-center">BTech in Computer Science.
       		<br> Machine Learning and NLP researcher.
        	<br>Science fiction fan and traveller. 
        	<br>Passionate about building products and businesses around hi-tech.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="card">
      <div class="card-body">
      	 <img src="static/images/laksh.png" class="card-img-top" alt="..." style="width: 230px; padding-left: 80px;">

        <h5 class="card-title text-center" style="padding-top: 20px;">Laksh kiran</h5>
        <p class="card-text text-center">BTech in Computer Science.
	        <br> Machine Learning and NLP expert and outstanding developer.
	    	<br> A self-taught developer
	    	<br>Science finction Fan
	 		</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
  	</div>	
</div>



{% endblock content %}